// Place all the styles related to the UserSessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login_form {
  border: none;
  border-bottom: 1.5px solid black;
}

.login_form_body {
  position: relative;
  text-align: center;
  padding-right: 17em;

}

// .new-inspo-form {
//   text-align: center;
// }

#login_index_title {
  font-family: 'Lobster', cursive;
  text-align: center;
  padding-right: 0.5em;
  margin-top: 2em;
  margin-bottom: 0.8em;
  font-size: 3.5em;
}

#root_page_login {
  text-align: center;
  font-family: 'Lobster', cursive;
  margin-top: 2.5em;
  margin-bottom: 0.8em;
}

.back_button_pos {
  text-align: center;

  // padding-lefxt: 30em;
}
