// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inspo_title {
      font-family: 'Lobster', cursive;
      text-align: center;
      font-size: 9.5em;
      margin-top: 1em;
      color: #edc131;
}

 #root_pic {
  // background-image: url("https://images7.alphacoders.com/358/thumb-1920-358226.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

// div.hidden {
  // display: none;
// }
